In [16]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 50

Partie 1

In [17]:
# lire le CSV 
df = pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz", sep = '\t')

In [18]:
display(df)
print(df.shape)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,5,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
47944607,tt9916852,7,エピソード #3.20,JP,ja,\N,\N,0
47944608,tt9916852,8,Episodio #3.20,ES,es,\N,\N,0
47944609,tt9916856,1,The Wind,\N,\N,original,\N,1
47944610,tt9916856,2,The Wind,DE,\N,imdbDisplay,\N,0
47944611,tt9916880,1,Horrid Henry Knows It All,\N,\N,original,\N,1

(47944612, 8)

In [19]:
# compter le nombre de valeurs différentes de la colonne région  
count_region = df['region'].value_counts()
print(count_region)

region
\N    10753057
JP     4706672
DE     4705556
FR     4696149
IN     4641639
        ...
JE           2
NU           1
TV           1
PW           1
NR           1
Name: count, Length: 248, dtype: int64

In [14]:
# pour ensuite filtrer uniquement la valeur FR 
condition = df['region'].str.contains('FR', case = False, na = False)
df_filtre =  df[condition]
display(df_filtre)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
12,tt0000002,5,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0
18,tt0000003,3,Pauvre Pierrot,FR,\N,imdbDisplay,\N,0
29,tt0000004,5,Un bon bock,FR,\N,imdbDisplay,\N,0
79,tt0000010,11,La sortie de l'usine Lumière,FR,\N,alternative,\N,0
80,tt0000010,12,La sortie des ouvriers de l'usine Lumière,FR,\N,\N,informal alternative title,0
...,...,...,...,...,...,...,...,...
47944572,tt9916844,4,Épisode #3.15,FR,fr,\N,\N,0
47944580,tt9916846,4,Épisode #3.18,FR,fr,\N,\N,0
47944588,tt9916848,4,Épisode #3.17,FR,fr,\N,\N,0
47944596,tt9916850,4,Épisode #3.19,FR,fr,\N,\N,0
47944604,tt9916852,4,Épisode #3.20,FR,fr,\N,\N,0

In [20]:
# les ordonner par ordre croissant d'ID 
df_filtre = df_filtre.sort_values('titleId')

In [21]:
display(df_filtre)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
12,tt0000002,5,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0
18,tt0000003,3,Pauvre Pierrot,FR,\N,imdbDisplay,\N,0
29,tt0000004,5,Un bon bock,FR,\N,imdbDisplay,\N,0
79,tt0000010,11,La sortie de l'usine Lumière,FR,\N,alternative,\N,0
80,tt0000010,12,La sortie des ouvriers de l'usine Lumière,FR,\N,\N,informal alternative title,0
...,...,...,...,...,...,...,...,...
47944572,tt9916844,4,Épisode #3.15,FR,fr,\N,\N,0
47944580,tt9916846,4,Épisode #3.18,FR,fr,\N,\N,0
47944588,tt9916848,4,Épisode #3.17,FR,fr,\N,\N,0
47944596,tt9916850,4,Épisode #3.19,FR,fr,\N,\N,0
47944604,tt9916852,4,Épisode #3.20,FR,fr,\N,\N,0

In [16]:
# Test
print(df_filtre[df_filtre.titleId == "tt1675434"])

            titleId  ordering         title region language        types  \
20615940  tt1675434         4  Intouchables     FR       \N  imdbDisplay

         attributes  isOriginalTitle
20615940         \N                0

In [22]:
#voir les modalité sur types
print(df_filtre.types.value_counts())

types
\N             4523504
imdbDisplay     158614
alternative       6039
working           2215
tv                1802
dvd               1528
video             1502
festival           945
Name: count, dtype: int64

In [23]:
#voir original title
print(df_filtre.isOriginalTitle.value_counts())

isOriginalTitle
0    4696149
Name: count, dtype: int64

In [24]:
#distribution des données dans language
print(df_filtre.language.value_counts())

language
fr     4447304
\N      248774
qal         47
en          23
br           1
Name: count, dtype: int64

In [ ]:
#filtrer les film sur language : fr et \\N

In [30]:
df_semi_final = df_filtre[df_filtre.language.isin(["\\N", 'fr'])]
display(df_semi_final)

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
12,tt0000002,5,Le clown et ses chiens,FR,\N,imdbDisplay,\N,0
18,tt0000003,3,Pauvre Pierrot,FR,\N,imdbDisplay,\N,0
29,tt0000004,5,Un bon bock,FR,\N,imdbDisplay,\N,0
79,tt0000010,11,La sortie de l'usine Lumière,FR,\N,alternative,\N,0
80,tt0000010,12,La sortie des ouvriers de l'usine Lumière,FR,\N,\N,informal alternative title,0
...,...,...,...,...,...,...,...,...
47944572,tt9916844,4,Épisode #3.15,FR,fr,\N,\N,0
47944580,tt9916846,4,Épisode #3.18,FR,fr,\N,\N,0
47944588,tt9916848,4,Épisode #3.17,FR,fr,\N,\N,0
47944596,tt9916850,4,Épisode #3.19,FR,fr,\N,\N,0
47944604,tt9916852,4,Épisode #3.20,FR,fr,\N,\N,0

In [33]:
#filtrer avec imdb display
condition1 = df_semi_final['types'].str.contains('imdbDisplay', case = False, na = False)
df_semi_final2 = df_semi_final[condition1]

In [42]:
#drop cpolonnes region, ordering,attributes, isOriginalTitle, type
df_final = df_semi_final2.drop(columns = ["types","attributes", "isOriginalTitle", "ordering", "language", "region"]) 
display(df_final)

            titleId                                       title
12        tt0000002                      Le clown et ses chiens
18        tt0000003                              Pauvre Pierrot
29        tt0000004                                 Un bon bock
95        tt0000010         La sortie de l'usine Lumière à Lyon
131       tt0000012            L'arrivée d'un train à La Ciotat
...             ...                                         ...
47943150  tt9915980                          Burning the clutch
47943385  tt9916162       Making of 'La Virgen de los sicarios'
47943418  tt9916192  Danielle Darrieux: Il est poli d'être gai!
47943658  tt9916362                    Les sorcières d'Akelarre
47943762  tt9916416                       We Could Be Strangers

[158576 rows x 2 columns]

In [45]:
df_final.set_index('titleId')

                                                title
titleId
tt0000002                      Le clown et ses chiens
tt0000003                              Pauvre Pierrot
tt0000004                                 Un bon bock
tt0000010         La sortie de l'usine Lumière à Lyon
tt0000012            L'arrivée d'un train à La Ciotat
...                                               ...
tt9915980                          Burning the clutch
tt9916162       Making of 'La Virgen de los sicarios'
tt9916192  Danielle Darrieux: Il est poli d'être gai!
tt9916362                    Les sorcières d'Akelarre
tt9916416                       We Could Be Strangers

[158576 rows x 1 columns]

In [ ]:
#save file as csv (to_csv)  : ensuite tu l'ouvre avec read_csv


#autre methode : sauvegarder sous un fichier paruqet (format compressé prend moin de place) : to_parquet / read_parquet